<a [routerLink]="['/HttpExp']">Http</a>
|
<a [routerLink]="['/RouterHooksExp']">Router Hooks</a>
|
<a [routerLink]="['/CmpInputOutputExp']">Cmp Input Output</a>
|
<a [routerLink]="['/CmpLifeCycleExp']">Cmp Life Cycle</a>
|
<a [routerLink]="['/FormsExp']">Forms</a>
|
<a [routerLink]="['/ChildRouterExp', 'Dumdum']">Child Router</a>
|
<a [routerLink]="['/ServiceInjection']">Service Injection</a>
|
<a [routerLink]="['/FormTools']">Form Tools</a>
|
<a [routerLink]="['/FormObservable']">Form Observable</a>
|
<a [routerLink]="['/CmpFeaturesExp']">Cmp Features</a>
|
<a [routerLink]="['/Decorators']">Decorators</a>
|
<a [routerLink]="['/EventEmitter']">EventEmitter</a>
|
<a [routerLink]="['/ReactiveBasic']">ReactiveBasic</a>
|
<a [routerLink]="['/ReactiveExp']">ReactiveExp</a>
<br><br>
<router-outlet></router-outlet>
