<a [router-link]="['/HttpExp']">Http</a>
|
<a [router-link]="['/RouterHooksExp']">Router Hooks</a>
|
<a [router-link]="['/CmpInputOutputExp']">Cmp Input Output</a>
|
<a [router-link]="['/CmpLifeCycleExp']">Cmp Life Cycle</a>
|
<a [router-link]="['/FormsExp']">Forms</a>
|
<a [router-link]="['/ChildRouterExp', 'Dumdum']">Child Router</a>
|
<a [router-link]="['/ServiceInjection']">Service Injection</a>
|
<a [router-link]="['/FormTools']">Form Tools</a>
|
<a [router-link]="['/FormObservable']">Form Observable</a>
|
<a [router-link]="['/CmpFeaturesExp']">Cmp Features</a>
|
<a [router-link]="['/Decorators']">Decorators</a>
|
<a [router-link]="['/EventEmitter']">EventEmitter</a>
|
<a [router-link]="['/ReactiveBasic']">ReactiveBasic</a>
<br><br>
<router-outlet></router-outlet>
